<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Ticket Logger - Insertar/Actualizar Provincia')"></head>
<body>

<!-- Incluir el fragmento del header -->
<header th:replace="fragments/header :: header"></header>

<main class="container mt-5">

    <h1 th:text="${province.id == null ? 'Add New Province' : '{msg.province-form.edit}'}"></h1>

    <!-- Muestra un mensaje de error si hay algún problema -->
    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="${province.id == null} ? @{/provinces/add} : @{/provinces/update}"
          th:object="${province}" method="post" class="mt-4">
        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label for="code" class="form-label" th:text="#{msg.province-form.code}">Code:</label>
            <input type="text" th:field="*{code}" id="code" class="form-control" />
            <div th:if="${#fields.hasErrors('code')}" class="text-danger" th:errors="*{code}"></div>
        </div>

        <div class="mb-3">
            <label for="name" class="form-label" th:text="#{msg.province-form.name}">Name:</label>
            <input type="text" th:field="*{name}" id="name" class="form-control" />
            <div th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></div>
        </div>

        <div class="mb-3">
            <label for="region" class="form-label" th:text="#{msg.province-form.region}">Region:</label>
            <select th:field="*{region.id}" class="form-select" id="region" required>
                <option value="" th:text="#{msg.province-form.select-region}">Select Region</option>
                <option th:each="region : ${regions}" th:value="${region.id}" th:text="${region.name}"></option>
            </select>
            <div th:if="${#fields.hasErrors('region')}" class="text-danger" th:errors="*{region.id}"></div>
        </div>

        <button type="submit" class="btn btn-primary" th:text="${province.id == null ? 'Create' : 'Update'}"></button>
    </form>

    <!-- Volver a la lista de provincias -->
    <a href="#" th:href="@{/provinces}" class="btn btn-secondary mt-3" th:text="#{msg.province-form.returnback}">Back to List</a>
</main>

<!-- Incluir el fragmento del footer -->
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
